<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <% if teacher_logged_in? %><h3 class="panel-title">成绩管理: <%=@course.name%></h3><% end %>
          <% if student_logged_in? %><h3 class="panel-title">成绩列表</h3><% end %>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <% if teacher_logged_in? %>
          <%= link_to '导出选课名单', exports_path(course_id:@course.id,type:'students_list',format: :xlsx), :class => "btn btn-warning" ,:style=>"float:right"%>
          <%= link_to '导出成绩单', exports_path(course_id:@course.id,type:'grades_list',format: :xlsx), :class => "btn btn-success" ,:style=>"float:right"%>
          <% end %>
        
          <% if student_logged_in? %>
             <div style="text-align:center">
              <table class="table" >
               <tr>
                 <td>姓名：<%=current_user.name %>   </td>
                 <td>学号：<%=current_user.num%>   </td>
               </tr>
               <tr>
                 <td>培养单位：<%=current_user.department %> </td>
                 <td>专业：<%= current_user.major %>  </td>
               </tr>
              </table> 
             </div>
          <%end%>

          <%if @grades.length==0%>
            <% if teacher_logged_in? %><h3 class="panel-title">选课人数为0</h3>
            <% end %>
            <% if student_logged_in? %><h3 class="panel-title">尚未选课</h3>
            <% end %>
          <%else%>

           
            <% if teacher_logged_in? %> 
              <table class="table table-striped table-hover">
               <thead>
                 <tr>
                   <th>学号</th>
                   <th>名字</th>
                   <th>专业</th>
                   <th>培养单位</th>
                   <th>课程</th>
                   <th>目前分数</th>
                 </tr>
               </thead>
               <tbody>
                  <% @grades.each do |grade| %>
                    <tr>
                        <td><%= grade.user.num %></td>
                        <td><%= grade.user.name %></td>
                        <td><%= grade.user.major %></td>
                        <td><%= grade.user.department %></td>
                        <td><%= grade.course.name %></td>
                        <td><%= grade.grade %></td>
                             <%= form_for grade, url: grade_url(id: grade.id, course_id: grade.course.id), method: :patch do |f| %>
                                <td><%= f.text_field :grade %></td>
                                <td><%= f.submit "提交", class: "btn btn-success btn-xs" %></td>
                            <% end %>
                    </tr>
                 <% end %>
               </tbody>
            <% end %>
            <% if student_logged_in? %>
               <table class="table table-striped table-hover">
                    <%= link_to '导出成绩单', exports_path(user_id:current_user.id,type:'mygrade_list',format: :xlsx), :class => "btn btn-success"%> 
                   <thead>
                      <tr>
                        <th>课程编号</th>
                        <th>课程名称</th>
                        <th>课程学分</th>
                        <th>学位课</th>
                        <th>授课教师</th>
                        <th>分数</th>
                     </tr>
                  </thead>
                  <tbody>
                    <% @grades.each do |grade| %>
                       <tr>
                           <td><%= grade.course.course_code %></td>
                           <td><%= grade.course.name %></td>
                           <td><%= grade.course.credit.split('/')[1] %></td>
                           <td>
                                <% if grade.degree_course==true %>是
                                <%end%>
                                <%  if grade.degree_course==false%>否
                                <% end %>
                           </td>
                           <td><%= grade.course.teacher.name %></td>
                           <% if grade.grade.to_i< 60 %>
                               <td style="color:red"><%= grade.grade %></td>
                           <% else %>
                               <td><%= grade.grade %></td>
                           <% end %>
                      </tr>
                      
                   <% end %>
                 </tbody>
              </table>
              <div style="text-align:center">
                    <% if @courseTotal==0 %>
                         <h4 style="color:#0000CD">目前还未有成绩记录！</h>
                   <%else%>
                         <h4 style="color:#0000CD;line-height:30px">目前<%=current_user.name %>同学可查看<%=@courseTotal%>门课成绩，其中已经通过 <%=@passCourse%>  门课程，课程通过率为<%=@passRate%>%</h>
                   <%end%> 
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


